.searchpage__header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #3c4043;
}

.searchpage__headerBodyItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}

.searchpage__logo {
  object-fit: contain;
  margin-right: 50px;
  margin-top: 35px;
}
